*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.black-background
{
    background-color: #000000;
}

.contact-page
{
    display: flex;
    height: 100vh;
    padding: 50px 10% 0 10%;
}

.contact-left
{
    flex-basis: 50%;
    padding: 100px;
}

.color-change
{
    color: #000000;
    font-weight: 700;
    font-size: 5.2rem;
    padding-bottom: 50px;
}

.contact-medium-text
{
    font-size: 1.1rem;
}

.contact-sub-text
{
    font-size: 1.5rem;
    font-weight: 600;
}

.contacts
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.contact-small-text
{
    padding-bottom: 10px;
    color: #646262;
}

.contact-right
{
    flex-basis: 50%;
}

.contact-right-text
{
    display: flex;
    align-items: center;
    padding: 50px 100px 0 0;
}

.contact-right-text p
{
    color: #646262;
}

.arrow
{
    flex-basis: 50%;
}

.arrow img
{
    width: 100%;
}

.contact-form
{
    background-color: #000000;
    padding:0 20px;
    border-radius: 8px;
}

form
{
    padding: 0 20px 20px 20px;
}

.form-style
{
    display: flex;
    width: 100%;
    gap: 30px;
}

.form-style label
{
    display: none;
}

.form-style input,textarea
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #ffffff60;
}

form button
{
    width: 100%;
    padding: 15px;
    margin: 30px 0 10px 0;
    background-color: #9d4edd;
    border: 0;
    border-radius: 10px;
    transition: transform 0.3s ease-in;
    color: #ffffff;
}

form button:hover
{
    transform: scale(.9);
}

/*Responsive design*/

@media(max-width:600px)
{
    .contact-page
    {
        flex-direction: column;
        height: auto;
    }
    .contact-left
    {
        flex-basis: 100%;
        padding: 50px 0;
    }
    .color-change
    {
        font-size: 4.3rem;
    }
    .contact-form
    {
        margin-bottom: 30px;
    }
}

@media(max-width:1000px)
{
    .contact-page
    {
        flex-direction: column;
        height: auto;
    }
    .contact-left
    {
        flex-basis: 100%;
        padding: 50px 0;
    }
    .contact-form
    {
        margin-bottom: 30px;
    }
}

